<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>
<br/>
<hr/>
<h4>Find Some People By Name</h4>
<form th:method="get" th:action="@{/people/index}">
    <label for="myName">Enter name: </label>
    <input type="text" th:value="${myName}" id="myName" name="myName" placeholder="Paraska"/>
    <br/>
    <input type="submit" value="find!"/>
</form>
<br/>
<div th:if="${findByName != null}">
    <div th:each="person : ${findByName}">
        <p th:text="${person}"></p>
        <!-- <p th:utext="${'Id: <b>' + person.getId() + '</b>, Name: <b>' + person.getName() + '</b>, Age: <b>' + person.getAge() + '</b>, Email: <b>' + person.getEmail() + '</b>'}"></p>-->
    </div>
</div>
<br/>
<hr/>
<h4>Find Some People By Age</h4>
<form th:method="get" th:action="@{/people/index}">
    <label for="myAge">Enter age: </label>
    <input type="text" th:value="${myAge}" id="myAge" name="myAge" placeholder="23"/>
    <br/>
    <input type="submit" value="find!"/>
</form>
<br/>
<div th:if="${findByAge != null}">
    <div th:each="person : ${findByAge}">
        <p th:text="${person}"></p>
        <!--<p th:utext="${'Id: <b>' + person.getId() + '</b>, Name: <b>' + person.getName() + '</b>, Age: <b>' + person.getAge() + '</b>, Email: <b>' + person.getEmail() + '</b>'}"></p>-->
    </div>
</div>
<br/>
<hr/>
<h4>Update Person's Name By Id</h4>
<form th:method="post" th:action="@{/people/update-person-name-by-id}">
    <label for="myUpdateId">Enter id: </label>
    <input type="text" th:value="${myUpdateId}" id="myUpdateId" name="myUpdateId" placeholder="2"/>
    <br/>

    <label for="myUpdateName">Enter name: </label>
    <input type="text" th:value="${myUpdateName}" id="myUpdateName" name="myUpdateName" placeholder="Lena"/>
    <br/>
    <input type="submit" value="update!"/>
</form>
<br/>
<hr/>
<h4>Update Person's Email By Name</h4>
<form th:method="post" th:action="@{/people/update-person-email-by-name}">
    <label for="myUpdateNameEmail">Enter name: </label>
    <input type="text" th:value="${myUpdateNameEmail}" id="myUpdateNameEmail" name="myUpdateNameEmail" placeholder="Paraska"/>
    <br/>
    <label for="myUpdateEmail">Enter updated email: </label>
    <input type="text" th:value="${myUpdateEmail}" id="myUpdateEmail" name="myUpdateEmail" placeholder="Paraska222@i.ua"/>
    <br/>
    <input type="submit" value="update!"/>
</form>
<br/>
<hr/>
<h4>Delete Hero By Name</h4>
<form th:method="post" th:action="@{/people/delete-by-name}">
    <label for="myDeleteName">Enter name: </label>
    <input type="text" th:value="${myDeleteName}" id="myDeleteName" name="myDeleteName" placeholder="Pablo"/>
    <br/>
    <input type="submit" value="delete!"/>
</form>


</body>
</html>